#banneri {
    width: 800px;
    height: 250 px;
    position: relative;
    color: blue;
    text-align: center;
    text-transform: uppercase;
}
#div1 {
    position: absolute;
    height: 150px;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color:green;
    background-color: red;
    left: 10px;
    top:0px;
}
#div2 {
    position: absolute;
    height: 150px;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color:red;
    background-color: yellow;
    left: 300px;
    top:0px;
}
#div3 {
    position: absolute;
    height: 150px;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color:yellow;
    background-color: green;
    left: 600px;
    top:0px;
}
#banneri h3 {
    position: absolute;
    top: 25%;
}
